<!-- Header-->
<header id="header">
  <div class="container">
    <div class="header-row">
      <div class="header-column justify-content-start"> 
        <!-- Logo -->
        <div class="logo"> 
          <a class="d-flex" href="/" title="eCash">
            <img src="/assets/logo.png" width="121" height="33"  alt="eCash" />
          </a>
        </div>
        <!-- Logo end --> 
      </div>
      <div class="header-column justify-content-end"> 
        <nav class="login-signup navbar navbar-expand">
          <ul class="navbar-nav">
            <li><a><h5>Admin Panel Login/Signup</h5></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- Header End --> 
