<!-- Header
============================================= -->
<header id="header">
  <div class="container">
    <div class="header-row">
      <div class="header-column justify-content-start"> 
        <!-- Logo -->
        <div class="logo"> <a class="d-flex" href="/" title="eCash"><img src="/assets/logo.png" width="121" height="33"  alt="eCash" /></a> </div>
        <!-- Logo end --> 

        <!-- Collapse Button-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-nav"> <span></span> <span></span> <span></span> </button>
        <!-- Collapse Button end --> 
        
        <!-- Primary Navigation-->
        <nav class="primary-menu navbar navbar-expand-lg">
          <div id="header-nav" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
              <li><a href="sends">Send</a></li>
              <li><a href="#">Request</a></li>
              <li class="dropdown dropdown-mega"> <a class="dropdown-toggle" href="#">Settings</a>
                <ul class="dropdown-menu">
                  <li>
                    <div class="dropdown-mega-content">
                      <div class="row">
                        <div class="col-lg"> <span class="sub-title">Account</Span>
                          <ul class="dropdown-mega-submenu">
                            <li><a class="dropdown-item" href="#">My Transactions</a></li>
                          </ul>
                        </div>
                        <div class="col-lg"> <span class="sub-title">Dashboard</Span>
                          <ul class="dropdown-mega-submenu">
                            <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Deposit Money</a>
                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">MPesa</a></li>
                                <li><a class="dropdown-item" href="#">Airtel Money</a></li>
                              </ul>
                            </li>
                            <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Withdraw Money</a>
                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">MPesa</a></li>
                                <li><a class="dropdown-item" href="#">Airtel Money</a></li>
                              </ul>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg"> <span class="sub-title">Others</Span>
                          <ul class="dropdown-mega-submenu">
                            <li><a class="dropdown-item" href="#">About Us</a></li>
                            <li><a class="dropdown-item" href="#">Fees</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
        <!-- Primary Navigation end --> 
      </div>
      <div class="header-column justify-content-end"> 
        <!-- My Profile
        ============================== -->
        <nav class="login-signup navbar navbar-expand">
          <ul class="navbar-nav">
            <li class="dropdown profile ml-2"> <a class="px-0 dropdown-toggle" href="#"><img class="rounded-circle" src="/assets/profile2.jpg" alt=""></a>
              <ul class="dropdown-menu">
                <li class="text-center text-3 py-2">Hi, <%=current_user.first_name %></li>
                <li class="dropdown-divider mx-n3"></li>
                <li><a class="dropdown-item" href="#"><i class="fas fa-user"></i>My Profile</a></li>
                <li><a class="dropdown-item" href="#"><i class="fas fa-shield-alt"></i>Security</a></li>
                <li>
                  <a class="dropdown-item" href="/logout">
                    <i class="fas fa-sign-out-alt"></i>
                    Sign out
                  </a>
                </li>
              </ul>
            </li>
            <li class="dropdown notifications"> <a class="dropdown-toggle" href="#"><span class="text-5"><i class="far fa-bell"></i></span><span class="count">1</span></a>
              <ul class="dropdown-menu">
                <li class="text-center text-3 py-2">Notifications (1)</li>
                <li class="dropdown-divider mx-n3"></li>
                <li><a class="dropdown-item" href="#"><i class="fas fa-bell"></i>Welcome to your dashboard.<span class="text-1 text-muted d-block"><%= Time.now %></span></a></li>
                <li><a class="dropdown-item text-center text-primary px-0" href="#">See all Notifications</a></li>
              </ul>
            </li>
          </ul>
        </nav>
        <!-- My Profile end --> 
      </div>
    </div>
  </div>
</header>
<!-- Header End --> 