<!-- Header-->
<header id="header">
  <div class="container">
    <div class="header-row">
      <div class="header-column justify-content-start"> 
        <!-- Logo -->
        <div class="logo"> 
          <a class="d-flex" href="/" title="eCash">
            <img src="/assets/logo.png" width="121" height="33"  alt="eCash" />
          </a>
        </div>
        <!-- Logo end --> 
      </div>
      <div class="header-column justify-content-end"> 
        <!-- Login & Signup Link -->
        <nav class="login-signup navbar navbar-expand">
          <ul class="navbar-nav">
            <li><a href="/login">Login</a> </li>
            <li class="align-items-center h-auto ml-sm-3"><a class="btn btn-primary" href="users/new">Sign Up</a></li>
          </ul>
        </nav>
        <!-- Login & Signup Link end --> 
      </div>
    </div>
  </div>
</header>
<!-- Header End --> 
