<!-- Header-->
<header id="header">
  <div class="container">
    <div class="header-row">
      <div class="header-column justify-content-start"> 
        <!-- Logo -->
        <div class="logo"> <a class="d-flex" href="/" title="eCash"><img src="assets/logo.png" width="121" height="33"  alt="eCash" /></a> </div>
        <!-- Logo end --> 

        <!-- Collapse Button-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-nav"> <span></span> <span></span> <span></span> </button>
        <!-- Collapse Button end --> 
        
        <!-- Primary Navigation-->
        <nav class="primary-menu navbar navbar-expand-lg">
          <div id="header-nav" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
              <li><a href="#">Send</a></li>
              <li><a href="#">Receive</a></li>
              <li class="dropdown dropdown-mega"> <a class="dropdown-toggle" href="#">Settings</a>
                <ul class="dropdown-menu">
                  <li>
                    <div class="dropdown-mega-content">
                      <div class="row">
                        <div class="col-lg"> <span class="sub-title">Account</Span>
                          <ul class="dropdown-mega-submenu">
                            <li><a class="dropdown-item" href="#">My Profile</a></li>
                            <li><a class="dropdown-item" href="#">Security</a></li>
                            <li><a class="dropdown-item" href="#">Notifications</a></li>
                          </ul>
                        </div>
                        <div class="col-lg"> <span class="sub-title">Dashboard</Span>
                          <ul class="dropdown-mega-submenu">
                            <li><a class="dropdown-item" href="#">Transactions</a></li>
                            <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Deposit Money</a>
                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">MPesa</a></li>
                                <li><a class="dropdown-item" href="#">Airtel Money</a></li>
                              </ul>
                            </li>
                            <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Withdraw Money</a>
                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">MPesa</a></li>
                                <li><a class="dropdown-item" href="#">Airtel Money</a></li>
                              </ul>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg"> <span class="sub-title">Others</Span>
                          <ul class="dropdown-mega-submenu">
                            <li><a class="dropdown-item" href="#">About Us</a></li>
                            <li><a class="dropdown-item" href="#">Fees</a></li>
                            <li><a class="dropdown-item" href="#">Contact Us</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
        <!-- Primary Navigation end --> 
      </div>
      <div class="header-column justify-content-end"> 
        <!-- Login & Signup Link -->
        <nav class="login-signup navbar navbar-expand">
          <ul class="navbar-nav">
            <li><a href="#">Login</a> </li>
            <li class="align-items-center h-auto ml-sm-3"><a class="btn btn-primary" href="#">Sign Up</a></li>
          </ul>
        </nav>
        <!-- Login & Signup Link end --> 
      </div>
    </div>
  </div>
</header>
<!-- Header End --> 
