<!-- Content -->
<div id="content"> 
  
  <!-- Payment Solutions -->
  <section class="section bg-white">
    <div class="hero-content d-flex fullscreen-with-header py-5" style="background: url(assets/home_background.png) center center no-repeat;">
      <div class="container my-auto text-left">
        <h2 class="text-13 text-white">Send & Receive Money</h2>

        <p class="text-5 text-white">
          Quickly and easily send, receive and request money online with eCASH
        </p>

        <a href="#" class="btn btn-outline-light m-2">Try Demo</a>

        <a href="#" class="btn btn-primary m-2">Get Started</a>
      </div>
    </div>
  </section>
  <!-- Payment Solutions end --> 
  
  <!-- Why choose -->
  <section class="section2 bg-white">
    <div class="container">
      <h2 class="text-9 text-center">Why should you choose eCASH?</h2>
      <p class="lead text-center mb-5">Here’s Top 4 reasons for using eCASH account to manage your money.</p>
      <div class="row">
        <div class="col-sm-6 col-lg-3 mb-5 mb-lg-0">
          <div class="featured-box">
            <div class="featured-box-icon text-primary"> <i class="fas fa-hand-pointer"></i> </div>
            <h3>Easy to use</h3>
            <p class="text-3">eCASH is easy to use as instructions are well stipulated and integrates perfectly with available platforms like MPesa.</p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 mb-5 mb-lg-0">
          <div class="featured-box">
            <div class="featured-box-icon text-primary"> <i class="fas fa-share"></i> </div>
            <h3>Faster Payments</h3>
            <p class="text-3">Payments in eCASH are handled faster due to the fact that the system has been optimized to handle many transactions.</p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 mb-5 mb-sm-0">
          <div class="featured-box">
            <div class="featured-box-icon text-primary"> <i class="fas fa-dollar-sign"></i> </div>
            <h3>Affordable Fees</h3>
            <p class="text-3">eCASH values her customers thereby making sure that the fees charged is very affordable to anyone interested.</p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="featured-box">
            <div class="featured-box-icon text-primary"> <i class="fas fa-lock"></i> </div>
            <h3>100% secure</h3>
            <p class="text-3">eCASH takes matters to do with security extremely seriously hence uniquely protects customers' personal details.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Why choose end -->   
</div>
<!-- Content end --> 
